@font-face {
    font-family: 'HansKendrick-Regular';
    src: url(font/HansKendrick-Regular.ttf);
    font-weight: bold;
}

#loginForm label, #createForm label, #regForm label{
    display: inline-block;
    text-align: left;
}

#regForm {
    margin-top:75px;
    margin-left:450px;
    margin-right:auto;
}
#loginForm {
    margin-top:80px;
}

#loginForm label{width:72px;}
#createForm label{width:130px;}
#regForm label{width:155px;}

label {	
	color:white;
}

body{
	font-family:verdana;
	/*font-family:'HansKendrick-Regular';*/
	background-image: url('img/paperbg.jpg');
}

#buttonStyle {
     color:white;
   	 background-color:#33CCFF;
   	 border-color:#44DDFF;
   	 padding:5px 20px;
   	 font-family:verdana;
   	 font-size:20px;
   	 align:center;
   	 border-radius:10px;
}

#buttonStyle:hover{
	background-color:#22BBEE;
	border-color:#33CCFF;
}

#buttonStyle2 {
     color:white;
   	 background-color:#33CCFF;
   	 border-color:#44DDFF;
   	 padding:5px 10px;
   	 font-family:verdana;
   	 font-size:16px;
   	 align:center;
   	 border-radius:5px;
}

#buttonStyle2:hover{
	background-color:#22BBEE;
	border-color:#33CCFF;
}

#homeBody {
   	 background-image: url('img/splash/chairs.jpg');
  	 background-size: 100% 100%
}

#homeBody #content{
	background: rgba(51,204,255, .85);
}

#content{
	width: 1100px;
	min-height: 400px;
	height: 525px;
	margin: auto;
	background: rgba(51,204,255, 1);
	box-shadow: -4px 12px 15px grey;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 15px;
}

#header{
  	height: 100px;
 	 margin: 0px -8px 47px;
}

#footer{
	margin-top: 30px;
}

#greyBox{
	height: 110px;
	background-color: grey;
	background-image: url('img/header/background.png');
	box-shadow: -4px 12px 15px rgb(255, 255, 255);
}

#headerSpan{
	color: white; 
	position: relative;
}

#headerSpan a{
	text-decoration: none;
	color: white;
}

h1{
	font-size: 32px;
	font-weight: 300;
	margin: 10px 0px;
	color: #03589f;
}

h2{
	color: #03589f;	
}

h3{
	color: #03589f;
	font-weight: 400;
	margin-bottom: 0;
}

table {
	border-collapse: collapse;
}

a:link{
	color: #03447b;
}

a:visited{
	color: #63a3db;
}

#classTable a{
	text-decoration:none;
	width:100%;
	text-align:center;	
	display:block;
	color:#fff;
	padding:10px 0;
	cursor:pointer;
	border-radius:5px
}

#classTable table, th, td{
    align:center;
    border: 5px solid lightslategrey;
    background-color:mintcream;
    padding:5px;
}

#classTable{
	display: inline-block;
	border-spacing: 0;
}

#classTable td, #searchTable td{text-align: center;}

#classTable th, #searchTable td{padding: 0px 20px;}

#searchTable{
	margin: auto;
	border-spacing: 0;
}

#addButton {
	position: relative; 
	top: 50%;
	transform: translateY(50%);
}

#studentList{
	width:25%;
	height: 330px;
	overflow: auto;
	border-right: 3px solid #03589f;
}

#studentList td{
	padding-bottom: 10px;
}

#topicList{
	height:330px;
	width:65%;
	float:left;
	margin-left:10px;
	overflow: auto;
}

#topicList td{
	padding: 10px;
}

#controlPanel{
	width:417px;
	border: 5px solid #789;
	display: inline-block;
	vertical-align: top;
	height: 313px;
	margin-left: 20px;
	overflow-y:auto;
}

/*** START POPUP CSS***/
#popupContainer {
	width:100%;
	height:100%;
	opacity:.95;
	top:0;
	left:0;
	display:none;
	position:fixed;
	background-color:#313131;
	overflow:auto
}

#close {
	position:absolute;
	right:6px;
	top:4px;
	cursor:pointer
}

#popupWindow {
	position:absolute;
	left:50%;
	top:17%;
	margin-left:-202px;
}

#popupForm {
	max-width:300px;
	min-width:250px;
	padding:10px 50px;
	border:2px solid gray;
	border-radius:10px;
	background-color:#fff
}

#popupForm hr {
	margin:10px -50px;
	border:0;
	border-top:1px solid #ccc
}

#popupForm textarea {
	width:100%;
	height:95px;
	padding:10px;
	resize:none;
	margin-top:15px;
	border:1px solid #ccc;
	padding-left:10px;
	font-size:16px;
	margin-bottom:30px
}

#postSubmit, #homeLink {
	text-decoration:none;
	width:100%;
	text-align:center;
	display:block;
	background-color:#33CCFF;
	color:#fff;
	border:1px solid #33CCFF;
	padding:10px 0;
	font-size:20px;
	cursor:pointer;
	border-radius:5px
}
/*** END POPUP CSS ***/
